
        body {
            background-color: #f8f9fa;
        }
        .member-list {
            background: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        }
        span.square {
            margin-right: 10px;
        }
        
        section#section {
            background: #fbbc05;
        }
        
        .h5 {
            font-size: 2.6em !important;
        }
        .c2 {
            color: #fff;
        }
        
        .h7 {
            font-size: 1.8em !important;
        }
        .cw {
            color: #fff;
        }
.content-description {
    padding: 45px 0 60px;
}

.writer .date {
    padding-right: 5px;
    border-right: 1px solid #8e8e93;
    color: #8e8e93;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, hr, p {
    margin: 0;
}
.col > h1, h2, h3, h4, h5, h6, p {
    font-family: 'Kanit', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, li {
    overflow: hidden;
}

.post ul {
    padding-left: 20px;
    border-left: 5px solid #800;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Anuphan', sans-serif !important;
}

.post-category:hover {
    text-decoration: underline;
}
.post-category {
    display: flex;
    font-size: 16px;
    color: #792024;
    gap: 10px;
    align-items: center;
}

.post-category i {
    font-size: 20px;
    font-family: "Font Awesome 6 Free" !important;
}
