* {
    padding: 0;
    margin: 0;
}

header {
    background: #252631;
    color: #fff;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.space-around {
    justify-content: space-around;
}
