* {
    padding: 0;
    margin: 0;
}

header {
    background: #800000;
    color: #fff;
    padding: 0 2.5%;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.space-around {
    justify-content: space-around;
}

.nav {
    margin: auto 0px;
}
