.wrapper {
    width: 100%;
  max-width: 1500px;
  margin-inline: auto;
  position: relative;
  height: 200px;
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0) 50%
  );
}

.scroller {
  display: flex;
  gap: 20px;
  width: fit-content;
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.item {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 2px;
  overflow: hidden;
}
/*  */


.successful-image img {
    width: 150px;
}

.successful-list {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    flex-wrap: wrap;
    list-style: none;
}

.successful-item {
    width: 33.33333333%;
}

.successful-details:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.successful-details {
    margin: 5px;
    padding: 1.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: .3s;
    border-radius: 10px;
}
h3.successful-title {
    font-size: 16px !important;
}
